<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>상품명</th>
        <th>수량</th>
        <th>가격</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.quantity}"></td>
        <td th:text="${product.price}"></td>
        <td>
            <a th:href="@{/product/{id}(id=${product.id})}">상품수정</a>
        </td>
        <td>
            <form th:action="@{/product?id={id}(id=${product.id})}" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit">삭제</button>
            </form>
        </td>
    </tr>
</table>
<a th:href="@{/product/register}">상품등록</a>


</body>
</html>