<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr th:each="memberDTO : ${memberDTOs}">
        <td><a th:href="@{/members/{id}(id=${memberDTO.getId()})}" th:text="${memberDTO.getId()}"> </a></td>
        <td><a th:href="@{/members/{id}(id=${memberDTO.getId()})}" th:text="${memberDTO.getUserId()}"> </a></td>
        <td><a th:href="@{/members/{id}(id=${memberDTO.getId()})}" th:text="${memberDTO.getGrade()}"> </a></td>
        <td>
            <form th:action="@{/members/{id}(id=${memberDTO.getId()})}" method="post">
                <input type="hidden" name="_method" value="patch">
                <button type="submit">등급 변경</button>
            </form>
        </td>
    </tr>
</table>
<a th:href="@{/members/sign-up}">회원가입</a>

</body>
</html>