<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr th:each="memberDTO : ${memberDTOs}">
        <td><a th:href="@{/members/{id}(id=${memberDTO.getId()})}" th:text="${memberDTO.getId()}"> </a></td>
        <td><a th:href="@{/members/{id}(id=${memberDTO.getId()})}" th:text="${memberDTO.getUserId()}"> </a></td>
        <td><a th:href="@{/members/{id}(id=${memberDTO.getId()})}" th:text="${memberDTO.getGrade()}"> </a></td>
    </tr>
</table>
</body>
</html>