<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>주문자</th>
        <th>주문상품</th>
        <th>수량</th>
        <th>결제가격</th>
    </tr>
    <tr th:each="order : ${orders}">
<!--        members랑 products를 일급콜렉션으로 만들면 이름을 가져올 수 있을 거 같은데?-->
        <td th:text="${order.getMemberId()}"></td>
        <td th:text="${order.getProductId()}"></td>
        <td th:text="${order.getPurchaseQuantity()}"></td>
        <td th:text="${order.getAmountToPurchase()}"></td>
        <td>
            <form th:action="@{/order?id={id}(id=${order.getId()})}" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit">삭제</button>
            </form>
        </td>
    </tr>

<!--    주소를 바꿔야함. form으로 보낸걸 저장하면서, 다른 주소로 위치 이동. 주문하시겠습니까?? ->yes: post no : redirect:/order-->
    <form method="get" action="/order/order-page">
        <div>
            <label>주문자</label>
            <input type="text" id="member" name="member" placeholder="주문자를 입력하세요.">
        </div>
        <div>
            <label>주문상품</label>
            <input type="text" id="product" name="product" placeholder="상품을 입력하세요.">
        </div>
        <div>
            <label>수량</label>
            <input type="text" id="quantity" name="quantity" placeholder="수량을 입력하세요.">
        </div>
        <button type="submit">주문</button>
    </form>
</table>
</body>
</html>